<h1><%= @restaurant.name %></h1>

<p>City: <%= @restaurant.city.name %></p>
<p>Food Type: <%= @restaurant.food_type %></p>
<p>Alcohol?: <%= @restaurant.alcohol_served %></p>
<p>5 Star Rating: <%= @restaurant.rating %></p>