<h1>All Cities<h1>

<% @cities.each do |city| %>
  <h2><%= city.name %></h2>
  <p><%= link_to "More info on #{city.name}", "/cities/#{city.id}" %></p>
  <p>Created at: <%= city.created_at %></p>
  <p><%= link_to "Update #{city.name}", "/cities/#{city.id}/edit" %></p>
  <%= button_to "Delete #{city.name}", "/cities/#{city.id}", method: :delete %>
<% end %>
<%= link_to "New City", "/cities/new" %>