<h1><%= @city.name %></h1>
<p>Population: <%= @city.population %></p>
<p>Metropolis: <%= @city.metropolis %></p>
<p>Number of Restaurants: <%= @city.restaurant_count %></p>
<%= button_to "Restaurants in #{@city.name}", "/cities/#{@city.id}/restaurants", method: :get%>