<!DOCTYPE html>
<html>
  <head>
    <title>CityFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href = "/restaurants">All Restaurants</a><br>
    <a href = "/cities">All Cities</a>
    <%= yield %>
  </body>
</html>
